@mixin shadow {
  box-shadow: 0 5px 10px #3a383833;
}

@mixin shadow-darker {
  box-shadow: 0 10px 15px $color-primary;
}

@mixin animation {
  opacity: 1;
  background-image: linear-gradient(to top, $color-primary, $color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
  animation: heart 400ms ease-in-out;
}
