/*Footer*/
footer {
  padding: 10px 20px;
  background-color: darken($color-bg, $amount: 70);
  h3 {
    color: white;
    font-size: 20px;
    font-family: "shrikhand", sans-serif;
    font-weight: 100;
  }
  .box_footer {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 10px;
        a {
          font-size: 17px;
          color: white;
          font-weight: 300;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
